/* Estilos gerais para a página de perfil */
.profile-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o container do logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Estilos para a imagem do logo */
.logo-container img {
    width: 150px;
    height: auto;
}

/* Estilos para os links no canto superior direito */
.top-right-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Estilos para os links no canto superior direito */
.top-right-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Estilos para o conteúdo principal da página de perfil */
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilos para o container da imagem de perfil */
.profile-pic-container {
    margin-top: 50px;
}

/* Estilos para a imagem de perfil */
.profile-pic {
    border-radius: 50%;
    width: 120px; /* Ajuste o tamanho conforme necessário */
    height: 120px; /* Ajuste o tamanho conforme necessário */
}

/* Estilos para o container das imagens favoritas */
.favorites-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    width: 80%;
    max-width: 1200px;
    justify-items: center; 
    align-items: center; 
}

/* Estilos para cada imagem favorita */
.favorite-item img {
    width: 150px; /* Ou outro tamanho desejado */
    height: 150px; /* Ou outro tamanho desejado */
    object-fit: cover;
}
