/* Estilos gerais para a página de registro */
.registro {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para o formulário de registro */
form {
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 400px; 
  text-align: center; 
  margin: 0 auto; 
}

/* Estilos para os campos de entrada */
input {
  display: block;
  width: calc(100% - 80px); 
  margin: 10px auto; 
  padding: 10px; 
  font-size: 18px; 
}

/* Estilos para o botão */
button {
  background-color: #61dafb;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%; 
  cursor: pointer; 
}

/* Estilos para mensagens de erro */
.error-message {
  color: red;
  text-align: center;
}

/* Estilos para o container do logo */
.logo-container {
position: absolute; 
top: 20px; 
left: 20px; 
}

/* Estilos para a imagem do logo */
.logo-container img {
width: 150px;
height: auto; 
}
