/* Estilos gerais da página de resultados de busca, incluindo fundo e alinhamento */
.search-results {
  background-image: url('../images/background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}

/* Estilos para o contêiner do logo da aplicação */
.logo-container {
  position: absolute; 
  top: 20px; 
  left: 20px; 
}

.logo-container img {
  width: 200px;  /* ou outra largura conforme necessário */
  height: auto;  /* mantém a proporção do logo */
}

/* Estilos para o contêiner da barra de busca, incluindo alinhamento e estilo do campo de busca e botão */
.search-bar-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
}

/* Estilos para a área onde os resultados da busca são exibidos, usando grid layout */
.results-container {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 40px; 
  justify-content: center; 
  padding: 40px; 
}

/* Estilos específicos para o botão de busca e campo de entrada de texto */
.search-button {
  height: 46px; 
  border: none; 
  background-color: #61dafb; 
  color: #fff; 
  border-radius: 23px;
  padding: 0 20px;
  max-width: 100px;
  cursor: pointer;
}
.search-input {
  height: 40px; 
  padding: 0 15px; 
  font-size: 16px;
  border: 2px solid #fff; 
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  width: 100%; 
  max-width: 500px;
  margin-right: 10px;
}

/* Estilos para os itens individuais de resultado, incluindo imagens e comportamento ao clicar */
.result-item {
  display: flex; 
  align-items: center;
  justify-content: center;
}

/* Estilos para o contêiner de paginação, incluindo alinhamento e estilo dos números de página */
.pagination-container {
  margin-top: auto; 
  display: flex;
  justify-content: center; 
  padding: 20px 0;
}
.page-item {
  margin: 0 5px; 
}

/* Estilos para os links no canto superior direito da página */
.top-right-links {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.top-right-links a:hover {
  color: #61dafb;
}
